html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #23282d;
    min-height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.topBar {
    background: #23282d;
    padding: 8px 10px;
    display: flex;
    flex-direction: row;
}

.topBar .space {
    flex-grow: 1;
}

.topBar .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.topBar .menu-item img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.topBar .menu-item + .menu-item {
    margin-left: 24px;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    background: #f1f1f1;
}

.content-body {
    flex-grow: 1;
}

strong {
    font-weight: bold;
}

h1.kokoro-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    padding: 20px 10px;
}

h1.kokoro-brand img {
    width: 32px;
    height: 32px;
}

h1.kokoro-brand .heading {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 10px;
}

h1.kokoro-brand .heading .title {
    font-weight: bold;
}

h1.kokoro-brand .heading .version {
    font-size: 12px;
    color: #9ea3a8;
    margin-top: 2px;
}

.sidebar {
    flex-shrink: 0;
    background: #23282d;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar h1 + ul {
    margin-top: 5px;
}

.sidebar ul li a {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    padding-right: 50px;
}

.sidebar ul li a .icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    padding: 4px;
    color: #9ea3a8;
    margin-right: 6px;
}

.sidebar ul li a:hover {
    background: #191e22;
    color: #db407e;
}

.sidebar ul li a:hover .icon {
    color: #db407e;
}

.sidebar ul li a.active {
    background: #c93d75;
    color: #fff;
}

.sidebar ul li a.active:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right-color: #f1f1f1;
}

.sidebar ul li a.active .icon {
    color: #fff;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.flex-space {
    flex-grow: 1;
}

.page-header .main-button {
    margin-left: 15px;
}

h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 > .icon {
    margin-right: 10px;
}

h2 > .name {
    font-weight: bold;
    font-size: 20px;
}

.icon-10 {
    width: 10px;
    height: 10px;
    font-size: 10px;
}

.icon-12 {
    width: 12px;
    height: 12px;
    font-size: 12px;
}

.icon-14 {
    width: 14px;
    height: 14px;
    font-size: 14px;
}

.icon-16 {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.icon-24 {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.icon-32 {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.button {
    background: #c93d75;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
    border-radius: 3px;
    font-size: 12px;
}

.button .icon {
    margin-right: 5px;
}

.button:hover {
    background: #191e22;
    color: #c93d75;
}

#help-button {
    color: #23282d;
    text-decoration: none;
}

#help-button:hover,
#help-button.active {
    color: #c93d75;
}

#help-tray {
    max-height: 0;
    margin: -20px -25px 0;
    padding-top: 20px;
    overflow: hidden;
}

#help-tray.active {
    max-height: none;
    margin-bottom: 20px;
}

#help-tray .help-container {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    border-width: 1px 0;
    padding: 15px 25px;
}

#help-tray.active .help-container:before,
#help-tray.active .help-container:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: 0 solid transparent;
    border-width: 12px 10px;
    border-bottom-color: #aaa;
    right: 25px;
    bottom: 100%;
}

#help-tray.active .help-container:after {
    border-width: 11px 9px;
    border-bottom-color: #fff;
    right: 26px;
    z-index: 1;
}

@media only screen and (max-width: 750px) {
    .content {
        padding: 15px;
    }

    #help-tray {
        margin: -15px -15px 0;
        padding-top: 15px;
    }

    #help-tray.active .help-container:before {
        right: 15px;
    }

    #help-tray.active .help-container:after {
        right: 16px;
    }

    .page-header {
        margin-bottom: 15px;
    }

    .sidebar, .sidebar-content {
        width: 40px;
    }

    h1.kokoro-brand {
        padding: 15px 8px;
    }

    h1.kokoro-brand img {
        width: 24px;
        height: 24px;
    }

    h1.kokoro-brand .heading .title {
        display: none;
    }

    .sidebar ul li a {
        padding-left: 8px;
        padding-right: 8px;
    }

    .sidebar ul li a .title {
        display: none;
    }

    .sidebar ul li a.active:before {
        display: none;
    }
}
