.global-search-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(35,40,45,0.85);
    display: none;
}

.global-search-background.visible {
    display: block;
}

.search-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 50px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2);
}

.search-box .icon {
    color: #aaa;
    margin-right: 12px;
}

.search-box input {
    flex-grow: 1;
    font-size: 24px;
    color: #23282d;
    outline: none;
    border: 0;
}

.search-box input::placeholder {
    color: #aaa;
}
