.content-body {
    display: flex;
    flex-direction: column;
}

.no-items {
    flex-grow: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-items div {
    max-width: 400px;
    font-size: 20px;
    color: #666;
    line-height: 1.5;
    text-align: center;
    background: rgba(0,0,0,0.05);
    padding: 30px;
    border-radius: 10px;
}

.items-table-wrapper {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.items-table {
    width: 100%;
    table-layout: auto;
}

.items-table thead,
.items-table tfoot {
    font-size: 14px;
    color: #666;
}

.items-table thead td,
.items-table tfoot td {
    white-space: nowrap;
}

.items-table tbody tr {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-width: 1px 0;
}

.items-table tbody td {
    padding: 12px 10px;
    background: #fafafa;
}

.items-table thead td,
.items-table tfoot td {
    padding: 6px 10px;
}

.items-table .column-checkbox {
    width: 1px;
}

.item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
    margin-top: 10px;
    color: #9ea3a8;
}

.item-actions li + li:before {
    content: "|";
    margin: 0 5px;
}

.item-actions a {
    color: #c93d75;
    text-decoration: none;
}

.item-actions a:hover {
    text-decoration: underline;
}

.item-actions .action-delete {
    color: #9f0000;
}
