.content {
    padding: 0;
}

.content-body {
    display: flex;
    flex-direction: column;
}

.page-header, .configure-tools {
    background: #fdfdfd;
}

.page-header {
    margin-bottom: 0;
    padding: 20px 25px;
}

.page-header .edit-name-button {
    margin-left: 10px;
    color: #9ea3a8;
}

.configure-tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
    border-bottom: 1px solid #aaa;
}

.configure-tools .tabs {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: -1px;
}

.configure-tools .tabs li a {
    position: relative;
    display: block;
    border-radius: 6px 6px 0 0;
    padding: 10px 15px;
    color: #23282d;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom: 0;
}

.configure-tools .tabs li:not(.active) a {
    color: #9ea3a8;
    transition: padding-bottom 0.05s ease;
    padding-bottom: 9px;
    margin-bottom: 1px;
}

.configure-tools .tabs li + li {
    margin-left: -2px;
}

.configure-tools .tabs li + li:not(.active) a:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    height: 50%;
    top: 25%;
    background: rgba(0,0,0,0.2);
    width: 1px;
    z-index: -1;
}

.configure-tools .tabs li:not(.active) a:hover {
    color: #23282d;
}

.configure-tools .tabs li.active a {
    background: #f1f1f1;
    border-color: #aaa;
    z-index: 2;
}

.tab-container {
    flex-grow: 1;
    padding: 22px 25px;
    display: flex;
}

#run-steps-container {
    flex-direction: row;
}

#run-steps {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.run-step-drop-zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.drop-zone-row {
    display: flex;
    flex-direction: row;
}

.drop-zone-row .run-step-drop-zone {
    flex-basis: 0;
}

.drop-zone-row > div + div {
    margin-left: 15px;
}

.drop-placeholder {
    border: 4px dashed rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.05);
    border-radius: 6px;
    box-sizing: border-box;
}

.run-step-drop-zone .no-run-steps-message {
    background: rgba(0,0,0,0.025);
    border: 4px dashed rgba(0,0,0,0.075);
    color: #666;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    line-height: 1.5;
}

#available-run-steps {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.run-step {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

.run-step .profiler-icon {
    position: absolute;
    right: -6px;
    top: -6px;
    color: #ffd700;
    background: #23282d;
    border-radius: 50px;
    border-bottom-left-radius: 10px;
    padding: 4px;
    display: none;
}

.run-step-drop-zone .run-step .profiler-icon {
    display: block;
}

.drop-zone-row .run-step {
    flex-grow: 1;
}

#available-run-steps > div + div {
    margin-top: 15px;
}

.run-step-drop-zone > div + div {
    margin-top: 15px;
}

.run-step h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    padding: 8px 10px;
    cursor: grab;
    color: #fff;
    background: #23282d;
}

.run-step h3 .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    color: #9ea3a8;
}

.run-step .description {
    margin-left: 24px;
    margin-top: 2px;
    font-size: 12px;
    color: #5f6368;
}

.run-step:hover, .run-step.dragging {
    background: #fff;
}

.run-step.dragging {
    position: absolute;
    z-index: 100000;
    transform: scale(1.1);
}

.run-step.dragging.can-drop {
    transform: scale(1);
}

body.dragging * {
    cursor: grabbing !important;
}

#available-run-steps .run-step-body {
    display: none;
}

body.dragging .run-step-body {
    pointer-events: none;
}

.run-step-body {
    flex-grow: 1;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    background: #fafafa;
    border: 1px solid #23282d;
    border-top: 0;
}









.clone-repo-run-step {
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clone-repo-run-step .no-items {
    color: #9ea3a8;
}



.start-emulator-run-step {
    padding: 10px 12px;
}




.script-editor {
    height: 300px;
}
