.job-chart {
    position: relative;
    width: 250px;
    height: 250px;
}

.job-chart .no-runs {
    text-align: center;
}

.job-chart .passed {
    font-weight: bold;
    color: #00a22e;
}

.job-chart .failed {
    font-weight: bold;
    color: #c30023;
}

.job-stats {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.job-stats div + div {
    margin-top: 10px;
}
