.items-table .column-status {
    width: 16px;
}

.items-table .column-metrics {
    width: 40px;
}

.job-name {
    font-weight: bold;
    color: #c93d75;
    text-decoration: none;
}

.job-name:hover {
    text-decoration: underline;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
}

.status-numbers {
    margin-left: 8px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.status-chart-container {
    width: 40px;
    height: 40px;
}

.items-table .column-job {
    white-space: nowrap;
}

.items-table tbody tr.status-none {
    background: #fafafa;
}

.items-table tbody tr.status-running {
    background: #fff;
}

.items-table tbody tr.status-success {
    background: #f9fff7;
}

.items-table tbody tr.status-failed {
    background: #fff7f8;
}

.items-table tbody tr.status-aborted {
    background: #fffcf7;
}

.items-table tbody .column-checkbox {
    position: relative;
}

.items-table .item-actions {
    visibility: hidden;
}

.items-table tr:hover .item-actions {
    visibility: visible;
}

.items-table tbody .column-description {
    line-height: 1.25;
}

.items-table tbody tr.status-none .column-checkbox:before,
.items-table tbody tr.status-success .column-checkbox:before,
.items-table tbody tr.status-failed .column-checkbox:before,
.items-table tbody tr.status-aborted .column-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    width: 6px;
}

.items-table tbody tr.status-none .column-checkbox:before {
    background: #9ea3a8;
}

.items-table tbody tr.status-success .column-checkbox:before {
    background: #4acd2f;
}

.items-table tbody tr.status-failed .column-checkbox:before {
    background: #d52c41;
}

.items-table tbody tr.status-aborted .column-checkbox:before {
    background: #f39904;
}

.status-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    //padding: 4px;
}

.items-table tr td.column-status {
    padding-left: 0;
    padding-right: 0;
}

.status-none .status-icon {
    color: #ddd;
}

.status-success .status-icon {
    color: #4acd2f;
}

.status-failed .status-icon {
    color: #d52c41;
}

.status-aborted .status-icon {
    color: #f39904;
}

.status-running .status-icon {
    color: #9ea3a8;
    animation: rotating 2s linear infinite;
}

.item-actions .action-abort {
    color: #f39904;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media only screen and (max-width: 750px) {
    .column-description {
        display: none;
    }
}
