.main-button {
    position: relative;
    overflow: hidden;
}

.main-button input {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.items-table .plugin-name {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items-table .plugin-name .icon-lock {
    margin-left: 8px;
    color: #dcae1d;
}

.items-table .column-plugin {
    white-space: nowrap;
}

.items-table .meta-data {
    color: #888;
}
